body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.content {
    position: relative;
    z-index: 1;
}
/* Header */
header {
    background-color: #002F6C; /* Azul Fanta */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

/* Hero Section */
.hero {
    padding: 50px 20px;
}

h1 {
    font-size: 36px;
}

.newsletter-btn {
    background-color: white;
    color: #FF7300;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter-btn:hover {
    background-color: #FFE4B5;
}

/* Tarjetas */
.cards {
    display: flex;
    justify-content: center;
    gap:0px 15px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    color: black;
    padding: 5px;
    width: 250px;
    text-align: center;
}

.card img {
    width: 100%;
    

}

.card h3 {
    margin-top: 10px;
}

.navbar-custom {
    background-color: orange;
}

.nav-link:hover {
    color: #0033a0 !important;
}

.btn-login {
    background-color: #0033A0;
    color: white;
}

.btn-login:hover {
    background-color: #3764f8;
}