<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FANTA {% block titulo %}{% endblock %}</title>
    <link rel="icon" type="img/fanta1.webp" href="img/fanta1.webp">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body>
    <video class="video-background" autoplay muted loop>
        <source src="static/img/videito.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
    </video>

    <div class="content">
        <nav class="navbar navbar-expand-lg bg-transparent border-body flex-sm-fill" data-bs-theme="light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img alt="Logo" src="static/img/fanta1.webp" style="max-height: 80px;" class="rounded-circle">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Promociones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contacto</a>
                        </li>
                    </ul>
                    <div class="d-flex ms-3">
                        <a href="login" class="btn btn-primary rounded-5">
                            <strong>Iniciar Sesión</strong>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <section class="hero text-center text-white">
            <h1>Diseño Refrescante, Tan Único Como Fanta</h1>
            <h6 class="mb-4">Así como Fanta transforma lo ordinario en algo vibrante y lleno de sabor, el diseño web puede hacer lo mismo.</h6>
            <button class="btn btn-warning mt-3">CONOCER MÁS</button>
        </section>

        <section class="cards d-flex justify-content-center gap-4 my-4">
            <div class="card" style="width: 18rem;">
                <img src="static/img/5.jpg" class="card-img-top" alt="Diseño 1">
                <div class="card-body">
                    <h6 class="card-title">"Fanta es la bebida que transforma cualquier momento en una explosión de sabor y diversión."</h6>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="static/img/hola.jpg" class="card-img-top" alt="Diseño 2">
                <div class="card-body">
                    <h6 class="card-title">"Con Fanta, cada sorbo es una invitación a dejarte llevar por la alegría y la frescura."</h6>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="static/img/jogo.webp" class="card-img-top" alt="Diseño 3">
                <div class="card-body">
                    <h6 class="card-title">"Fanta es más que una bebida, es una forma de vivir la diversión al máximo."</h6>
                </div>
            </div>
        </section>
        <!-- Sección de Suscripción -->
        <section class="text-center py-5 text-white">
            <h2>Suscríbete para recibir ofertas</h2>
            <p>No te pierdas ninguna promoción exclusiva.</p>
            <form class="d-flex justify-content-center">
                <input type="email" class="form-control w-50 me-2" placeholder="Tu correo electrónico">
                <button class="btn btn-warning">Suscribirme</button>
            </form>
        </section>
        <br><br><br>

    </div>

    <footer class="w-100 text-center bg-dark text-white py-3">
        <h3 class="mb-2">Todos los derechos reservados</h3>
        <p class="m-0">© 2024 Daily Rodríguez, María Paternina & Valentina Zuñiga</p>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
</body>


</html>
