{% extends "base.html" %} 
{% block title %} categoria {% endblock %} 
{% block content %}
    <main>
        <section class="categoria">
            <h1>Categoría</h1>
            <p>¡Bienvenido a producto por categoría fanta!</p>
        </section>

        <section class="productos">
            <h2>Productos</h2>
            <div class="tabla-container">
                <button class="btn">+ Añadir Producto</button>
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Referencia</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>FANTA-001</td>
                            <td>Fanta Naranja 500ml</td>
                            <td>3,500</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>FANTA-002</td>
                            <td>Fanta Uva 1.5L</td>
                            <td>7,200</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>FANTA-003</td>
                            <td>Fanta Manzana 2L</td>
                            <td>9,500</td>
                        </tr>
                    </tbody>
                    
                </table>
                <p class="total">3 Productos</p>
            </div>
        </section>

        <section class="empleados">
            <h2>Empleados</h2>
        </section>

        <section class="clientes">
            <h2>Clientes</h2>
        </section>
    </main>

{% endblock %}