{% extends "base.html" %}
{% block title %} Productos {% endblock %}

{% block content %}
<main class="container-fluid text-dark py-5 min-vh-100">
    <div class="container">
        <!-- Modal para agregar Producto -->
        <div class="modal fade" id="modalAgregarProducto" tabindex="-1" aria-labelledby="modalAgregarProductoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAgregarProductoLabel">Agregar Nuevo Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario dentro del modal -->
                        <form method="POST" action="{{ url_for('agregar_producto') }}">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="producto" class="fw-bold text-start d-block">Producto:</label>
                                    <input type="text" class="form-control border" name="producto" placeholder="Nombre del producto" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="descripcion" class="fw-bold text-start d-block">Descripción:</label>
                                    <input type="text" class="form-control border" name="descripcion" placeholder="Descripción" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="referencia" class="fw-bold text-start d-block">Referencia:</label>
                                    <input type="text" class="form-control border" name="referencia" placeholder="Referencia" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="precio" class="fw-bold text-start d-block">Precio:</label>
                                    <input type="number" class="form-control border" name="precio" placeholder="Precio" required min="0" step="0.01">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="stock" class="fw-bold text-start d-block">Stock:</label>
                                    <input type="number" class="form-control border" name="stock" placeholder="Stock" required min="0">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="idCategoria" class="fw-bold text-start d-block">Categoría:</label>
                                    <select class="form-control border" name="idCategoria" required>
                                        <option value="" disabled selected>Seleccione una categoría</option>
                                        {% for categoria in categorias %}
                                            <option value="{{ categoria.idCategoria }}">{{ categoria.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="estado" class="fw-bold text-start d-block">Estado:</label>
                                    <select class="form-control border" name="estado" required>
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Producto</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Modal para editar Producto -->
        <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEditarProductoLabel">Editar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario dentro del modal -->
                        <form method="POST" action="" id="formEditarProducto">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="editProducto" class="fw-bold text-start d-block">Producto:</label>
                                    <input type="text" class="form-control border" name="producto" id="editProducto" placeholder="Nombre del Producto" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editDescripcion" class="fw-bold text-start d-block">Descripción:</label>
                                    <textarea class="form-control border" name="descripcion" id="editDescripcion" placeholder="Descripción del Producto" rows="2" required></textarea>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editReferencia" class="fw-bold text-start d-block">Referencia:</label>
                                    <input type="text" class="form-control border" name="referencia" id="editReferencia" placeholder="Referencia" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editPrecio" class="fw-bold text-start d-block">Precio:</label>
                                    <input type="number" class="form-control border" name="precio" id="editPrecio" placeholder="Precio" step="0.01" min="0" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editStock" class="fw-bold text-start d-block">Stock:</label>
                                    <input type="number" class="form-control border" name="stock" id="editStock" placeholder="Cantidad en Stock" min="0" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editIdCategoria" class="fw-bold text-start d-block">Categoría:</label>
                                    <select class="form-control border" name="idCategoria" id="editIdCategoria" required>
                                        {% for categoria in categorias %}
                                            <option value="{{ categoria.idCategoria }}">{{ categoria.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editEstado" class="fw-bold text-start d-block">Estado:</label>
                                    <select class="form-control border" name="estado" id="editEstado" required>
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>


        <!-- Tabla de Productos -->
        <section class="productos bg-light text-dark p-4 rounded shadow">
            <h1 class="fw-bold">Productos</h1>
            <p class="fs-5">¡Bienvenido a la gestión de productos de productos Fanta!</p>
            <div class="text-start mb-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">
                    <i class="bi bi-plus-circle"></i> Agregar Producto
                </button>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        
            <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Referencia</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Categoria</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto, categoria_nombre in obtener_productos %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ producto.referencia }}</td>
                            <td>{{ producto.producto }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>{{ categoria_nombre }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.stock }}</td>
                            <td>
                                {% if producto.estado == "Activo" %}
                                    <span class="badge bg-success">Activo</span>
                                {% elif producto.estado == "Inactivo" %}
                                    <span class="badge bg-danger">Inactivo</span>
                                {% else %}
                                    <span class="badge bg-secondary">{{ producto.estado }}</span>
                                {% endif %}
                            </td>
                            
                            <td class="d-flex gap-2">
                                <!-- Botón para editar -->
                                <button type="button" class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalEditarProducto" 
                                    data-idProducto="{{ producto.idProducto}}" 
                                    data-idCategoria="{{ producto.idCategoria}}"   
                                    data-producto="{{ producto.producto}}"   
                                    data-descripcion="{{ producto.descripcion }}"
                                    data-referencia="{{ producto.referencia }}" 
                                    data-precio="{{ producto.precio }}"
                                    data-stock="{{ producto.stock }}"
                                    data-estado="{{ producto.estado }}">
                                    <i class="bi bi-pencil"></i> 
                                </button>
                                <!-- Botón para eliminar -->
                               
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="bi bi-trash"></i> 
                                    </button>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>

<!-- Script para manejar el modal de edición -->
<script src="{{ url_for('static', filename='js/producto.js') }}"></script>

{% endblock %}