{% extends "base.html" %}
{% block title %} registro {% endblock %}
{% block content %}

<body>
    <div class="container tranparent">
        <div class="register-container">
            <img src="static/img/fanta1.webp" alt="Fanta Logo" class="logo1">
            <h3 class="text-center">Registro</h3>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="name" class="form-control" id="name" required>
                </div>
                <div class="mb-3 ">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3 ">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <div class="mb-3 ">
                    <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
                    <input type="password" class="form-control" id="confirm-password" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrarse</button>
            </form>
            <div class="text-center mt-3">
                <a href="/login">¿Ya tienes cuenta? Inicia sesión</a>
            </div>
        </div>
    </div>
</body>
{% endblock %}