{% extends "base.html" %}
{% block title %} Sucursales {% endblock %}
{% block content %}

<main class="container mt-4">
    <section class="panel">
        <div class="d-flex flex-column justify-content-center align-items-center mb-3">
            <h1 class="text-dark text-center fw-bold">Sucursales</h1>
            <p class="text-muted text-center">¡Bienvenido al Panel de Sucursales!</p>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover text-center">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Sucursal</th>
                        <th>N° de Sucursal</th>
                        <th>Capacidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="fw-bold text-primary">Guacarí</td>
                        <td>2</td>
                        <td>149</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="fw-bold text-primary">Viva Sincelejo</td>
                        <td>1</td>
                        <td>109</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

{% endblock %}
