{% extends "base.html" %}
{% block title %} Sucursales {% endblock %}

{% block content %}
<main class="container-fluid text-dark py-5 min-vh-100">
    <div class="container">
        <!-- Modal para agregar Sucursal -->
        <div class="modal fade" id="modalAgregarSucursal" tabindex="-1" aria-labelledby="modalAgregarSucursalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAgregarSucursalLabel">Agregar Nueva Sucursal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('agregar_sucursal') }}">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="nombre" class="fw-bold text-start d-block">Nombre:</label>
                                    <input type="text" class="form-control border" name="nombre" placeholder="Nombre" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="direccion" class="fw-bold text-start d-block">Dirección:</label>
                                    <input type="text" class="form-control border" name="direccion" placeholder="Dirección" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="ciudad" class="fw-bold text-start d-block">Ciudad:</label>
                                    <select class="form-control border" id="ciudad" name="ciudad" required>
                                        <option value="" selected disabled>Seleccione una ciudad</option>
                                        <option value="Bogotá">Bogotá</option>
                                        <option value="Medellín">Medellín</option>
                                        <option value="Cali">Cali</option>
                                        <option value="Barranquilla">Barranquilla</option>
                                        <option value="Cartagena">Cartagena</option>
                                        <option value="Bucaramanga">Bucaramanga</option>
                                        <option value="Cúcuta">Cúcuta</option>
                                        <option value="Pereira">Pereira</option>
                                        <option value="Santa Marta">Santa Marta</option>
                                        <option value="Manizales">Manizales</option>
                                    </select>
                                </div>
                                
                                <div class="col-md-6 mb-3">
                                    <label for="telefono" class="fw-bold text-start d-block">Teléfono:</label>
                                    <input type="tel" class="form-control border" name="telefono" placeholder="Teléfono" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="estado" class="fw-bold text-start d-block">Estado:</label>
                                    <select class="form-control border" name="estado" required>
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar Sucursal</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal para Editar Sucursal -->
        <div class="modal fade" id="modalEditarSucursal" tabindex="-1" aria-labelledby="modalEditarSucursalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEditarSucursalLabel">Editar Sucursal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formEditarSucursal" method="POST">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="editNombre" class="fw-bold text-start d-block">Nombre:</label>
                                    <input type="text" class="form-control border" id="editNombre" name="nombre" placeholder="Nombre de la sucursal" maxlength="100" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editDireccion" class="fw-bold text-start d-block">Dirección:</label>
                                    <input type="text" class="form-control border" id="editDireccion" name="direccion" placeholder="Dirección de la sucursal" maxlength="150" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editCiudad" class="fw-bold text-start d-block">Ciudad:</label>
                                    <select class="form-control border" id="editCiudad" name="ciudad" required>
                                        <option value="" selected disabled >Seleccione una ciudad</option>
                                        <option value="Bogotá">Bogotá</option>
                                        <option value="Medellín">Medellín</option>
                                        <option value="Cali">Cali</option>
                                        <option value="Barranquilla">Barranquilla</option>
                                        <option value="Cartagena">Cartagena</option>
                                        <option value="Bucaramanga">Bucaramanga</option>
                                        <option value="Cúcuta">Cúcuta</option>
                                        <option value="Pereira">Pereira</option>
                                        <option value="Santa Marta">Santa Marta</option>
                                        <option value="Manizales">Manizales</option>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editTelefono" class="fw-bold text-start d-block">Teléfono:</label>
                                    <input type="tel" class="form-control border" id="editTelefono" name="telefono" placeholder="Número de teléfono" pattern="[0-9]{7,10}" title="Ingrese un número válido (7 a 10 dígitos)" required>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="editEstado" class="fw-bold text-start d-block">Estado:</label>
                                    <select class="form-control border" id="editEstado" name="estado" required>
                                        <option value="Activo">Activo</option>
                                        <option value="Inactivo">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Actualizar Sucursal</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabla de Sucursales -->
        <section class="sucursales bg-light text-dark p-4 rounded shadow">
            <h1 class="fw-bold">Sucursales</h1>
            <div class="text-start mb-4">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarSucursal">
                    <i class="bi bi-plus-circle"></i> Agregar Sucursal
                </button>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="table-responsive mt-3">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Ciudad</th>
                            <th>Teléfono</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sucursal in obtener_sucursales %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ sucursal.nombre }}</td>
                            <td>{{ sucursal.direccion }}</td>
                            <td>{{ sucursal.ciudad }}</td>
                            <td>{{ sucursal.telefono }}</td>
                            <td>
                                {% if sucursal.estado == "Activo" %}
                                    <span class="badge bg-success">Activo</span>
                                {% elif sucursal.estado == "Inactivo" %}
                                    <span class="badge bg-danger">Inactivo</span>
                                {% else %}
                                    <span class="badge bg-secondary">{{ sucursal.estado }}</span>
                                {% endif %}
                            </td>
                            <td class="d-flex gap-2">
                                <!-- Botón para editar -->
                                <button type="button" class="btn btn-sm btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalEditarSucursal" 
                                data-idSucursal="{{ sucursal.idSucursal }}"  
                                data-nombre="{{ sucursal.nombre }}" 
                                data-direccion="{{ sucursal.direccion }}"
                                data-ciudad="{{ sucursal.ciudad }}"
                                data-telefono="{{ sucursal.telefono }}"
                                data-estado="{{ sucursal.estado }}">
                                <i class="bi bi-pencil"></i> 
                                </button>

                                 <!-- Botón para eliminar -->
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i> 
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>

<script src="{{ url_for('static', filename='js/sucursal.js') }}"></script>

{% endblock %}
